.textoNormal {
    font-family: 'Times New Roman';
    color: darkslategrey;
}

.titulo{
    font-size: 50px;
}

.subtitulo {
    font-family: 'Cascadia Code';
}

.titulo2 {
    
    font-family: 'Cascadia Code';
}

body{
    
}